.music-wrapper {
    /*Properties*/
    width: 100%;

    min-height: 80px;

    /*Positioning*/
    position: absolute;
    bottom: 0;

    /*Decoration*/
    background-color: green;
}

@media screen and (max-height: 720px) {
    .music-wrapper {
        position: fixed;
        top: 0;
        margin-top: 640px;
    }
}