.middle-wrapper {
    /*Properties*/
    height: 40vh;
    width: 100%;

    min-height: 200px;

    /*Display*/
    display: flex;
    justify-content: center;
    align-items: center;
    
    /*Decorations*/
    background-color: blue;
}

.middle-list {
    /*Properties*/
    height: 100%;
    width: 95%;

    /*Decorations*/
    overflow-y: scroll;
}

.middle-list-item {
    /*Properties*/
    height: 20px;
    margin: 5px;

    /*Decorations*/
    background-color: red;
    list-style: none;
}